@mixin footnotes() {
  #{$at}footnotes {
    border-top: $footnotes-border;
    columns: $footnote-column-count;
    margin-top: $footnotes-margin-top;
    padding-top: $footnotes-padding;
  }
}


.footnote {
  counter-increment: footnote;
  float: $footnote-float;
  margin-left: .333em;
  padding-left: .667em;

  &:footnote-call {
    content: counter(footnote);
    font-size: 66%;
    line-height: none;
    vertical-align: super;
  }

  &:footnote-marker {
    content: counter(footnote);
    font-size: 66%;
    //scss-lint:disable PropertySpelling
    footnote-style-position: inside;
  }
}
