// Layout

$page-width: 11in;
$page-height: 8.5in;
$page-margin: 1.6in 1in 0.8in 2.75in;

$page-column-count: 2;
$page-column-fill: balance;
$page-column-gap: 0.5in;

$footnote-column-count: $page-column-count;
$footnote-float: prince-column-footnote;

$footnotes-margin-top: 2em;
$footnotes-padding: 3px;
$footnotes-border: 0.5px solid #000;

$table-margin: 9pt 0 11.5pt;
$table-cell-padding: 3pt;
$table-border: 1px solid #000;

$figure-margin: 9pt 0 21pt;
$caption-margin: 6pt 0 0;
$caption-side: bottom;

// Typography

$font-family-sans-serif: Verdana, Helvetica, sans-serif;
$font-family-serif: "Times New Roman", Times, serif;
$font-family-monospace: Courier, monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 8.5pt;
$font-size-small: 7.5pt;
$font-size-code: 9pt;

$font-size-h1: 9.5pt;
$font-size-h2: 8.5pt;
$font-size-h3: $font-size-h2;
$font-size-h4: $font-size-h2;
$font-size-h5: $font-size-h2;
$font-size-h6: $font-size-h2;

$font-size-page-number: $font-size-base;

$line-height-base: 1.412;
$hyphens-base: none;
$text-align-base: left;
$paragraph-margin: 0 0 6pt;
$paragraph-indent: 0;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: bold;
$headings-hyphens: none;

$caption-weight: normal;
$figcaption-weight: $caption-weight;

// Counters

$page-number-enabled: false;
$page-number-position: bottom-right;
$page-number-style: decimal;
$page-number-start: 1;

$header-counter-enabled: false;
$counter-h1: section;
$counter-h2: subsection;
$counter-h3: subsubsection;
$counter-h4: subsubsection;
$counter-h5: subsubsubsection;
$counter-h6: subsubsubsubsection;

$counter-h1-style: decimal;
$counter-h2-style: $counter-h1-style;
$counter-h3-style: $counter-h1-style;
$counter-h4-style: $counter-h1-style;
$counter-h5-style: $counter-h1-style;
$counter-h6-style: $counter-h1-style;

$counter-header-prefix: "";
$counter-header-suffix: "";
$counter-header-separator: ".";

$table-prefix: "Table ";
$table-suffix: ". ";

$figure-prefix: "Figure ";
$figure-suffix: ". ";

$cite-prefix: "[";
$cite-suffix: "]";
$cites-separator: ", ";

$ref-prefix: "[";
$ref-suffix: "]";
