//Project Settings
@import 'settings/ieee';
//Manifest
@import 'manifest';

//custom - overides
.abstract {
  font-size: 9pt;
  font-weight: bold;

  p {
    margin-bottom: 12pt;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h5 {
  font-variant: small-caps;
  margin-bottom: 4pt;
  text-align: center;
}

h3 {
  text-indent: $paragraph-indent;
}

h4 {
  text-indent: 1.5 * $paragraph-indent;
}

h2 {
  font-style: italic;
  margin-bottom: 2pt;
}

h3,
h4,
h5 {
  page-break-after: auto;
}

h2:not(.counter-skip)::before {
  content: $counter-header-prefix counter($counter-h2, $counter-h2-style) $counter-header-suffix;
}

h5:not(.counter-skip)::before {
  content: none;
}

h1 + h2,
h1 + * > h2:first-child {
  margin-top: 10pt;
}

h3,
h4 {
  font-style: italic;
  margin: $font-size-h1 0 0;
}

ul {
  margin-left: 2.5em;
}

li {
  margin-bottom: 6pt;
}

ol {
  counter-reset: ol;
  list-style: none;
  margin-left: 0;
  text-indent: $paragraph-indent;

  ol {
    text-indent: 2 * $paragraph-indent;

    > li::before {
      content: counter(ol, lower-alpha) ') ';
      counter-increment: ol;
    }
  }

  > li::before {
    content: counter(ol, decimal) ') ';
    counter-increment: ol;
    font-style: italic;
  }
}

.title {
  font-size: 24pt;
  font-variant: normal;
  margin-bottom: 5pt;
}

.subtitle {
  font-size: 14pt;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 35pt;
  margin-top: 0;
  text-align: center;
}

header {
  column-span: all;
  margin-bottom: 22pt;
}

table {
  font-size: $font-size-small;
}

caption,
figcaption {
  font-size: $font-size-small;
  font-weight: normal;
}

caption {
  font-variant: small-caps;
}

figcaption {
  text-align: left;
}

.footnote {
  font-size: 8pt;
  font-weight: normal;
  margin-bottom: -.38in;

  &:footnote-call,
  &:footnote-marker {
    content: none;
    display: none;
  }
}

.authors {
  column-gap: 0;

  + .authors {
    margin-top: 6pt;
  }
}

.author {
  break-inside: avoid;
  column-break-after: always;
  text-align: center;

  > :first-child {
    font-size: 11pt;
  }
}

.equation {
  margin: 12pt 0 8pt;
  text-align: center;

  &:not(.displaymath) {
    counter-increment: equation;
    position: relative;

    &::after {
      bottom: 50%;
      content: '(' counter(equation) ')';
      line-height: 0;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }
}

.references {
  margin-top: 18pt;
}

h1 {
  &.references {
    margin-top: 24pt;
  }
}

cite {
  font-size: $font-size-small;
  margin-bottom: 3pt;
  text-align: left;
}
