//Project Settings
@import 'settings/acm-sigchi-ea';
//Manifest
@import 'manifest';

//custom - overides

$header-h1-color: #000;

@page {

  @top-left {
    content: '';
    width: 50%;
    margin: -.35in 0 0 -2in;
    font-family: Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
  }

  @top-right {
    content: '';
    margin: -.35in -.25in 0 0;
    font-family: Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
  }

  @bottom-right {
    margin: -.35in -.25in 0 0;
    font-family: Helvetica, sans-serif;
    font-size: 9pt;
    font-weight: bold;
  }
}

header {
  column-span: all;
  margin-bottom: 38pt;

  h1 {
    border-top: 3pt solid $header-h1-color;
    font-family: Helvetica;
    font-size: 24pt;
    line-height: 24pt;
    margin-left: 1.52in;
    padding-top: 3pt;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
  font-weight: normal;
}

p + h1,
p + h2,
p + ul,
p + ol {
  margin-top: 11.5pt;
}

ul,
ol {
  list-style-type: square;
  margin-bottom: 15pt;
  margin-left: 18pt;
}

li {
  line-height: $line-height-base;
  margin-bottom: 4pt;
  margin-left: -3pt;
  padding-left: 5pt;
}

table {
  page-break-inside: avoid;
}

caption,
figcaption {
  font-size: 7.5pt;
  margin-top: 3pt;
  text-align: left;

  &::before {
    font-weight: bold;
  }
}

.authors {
  column-count: 2;
  column-gap: .12in;
}

.author {
  font-size: 7.5pt;
  line-height: 12pt;
  margin-bottom: 10pt;
  page-break-inside: avoid;

  > :first-child {
    font-weight: bold;
  }
}

.copyright {
  float: column-bottom;
  font-size: 7pt;
  line-height: 8.5pt;

  > * {
    bottom: 2em;
    left: 0;
    position: absolute;
    width: 3.38in;
  }

  ul,
  li {
    line-height: 8.5pt;
    margin-bottom: 0;
  }
}

.abstract {
  column-break-before: always;
  margin-bottom: 11.5pt;
}

.footnote {
  font-size: 7.5pt;
  margin-left: 3pt;
  padding-left: 6pt;

  &:footnote-marker {
    font-size: 7.5pt;
  }
}

cite {
  margin-bottom: 4pt;
}

aside {
  float: left;
  left: 0;
  margin-left: -2in + -15pt;
  page-break-inside: avoid;
  position: absolute;
  width: 2in;
}
