//Project Settings
@import 'settings/acm-sigchi';
//Manifest
@import 'manifest';

//custom - overides
h1,
h2,
h3,
h4,
h5 {
  margin: 1.333em 0 0;
}

h1 {
  text-transform: uppercase;
}

h3 {
  font-style: italic;
  font-weight: normal;
}

header {
  margin-bottom: 1em;

  h1 {
    font-size: 18pt;
    margin: 0 0 3pt;
    text-align: center;
    text-transform: none;
  }

  h2 {
    font-size: 12pt;
    font-weight: normal;
    margin: 18pt 0;
    text-align: center;
  }
}

ul,
ol {
  margin-left: 2em;
}

li {
  margin-bottom: .667em;
  margin-left: -.333em;
}

.authors {
  column-gap: 0;

  + .authors {
    margin-top: .667em;
  }
}

.author {
  break-inside: avoid;
  column-break-after: always;
  font-size: 12pt;
  text-align: center;

  > :first-child {
    font-weight: bold;
  }
}

.copyright {
  float: column-bottom;
  font-size: 8pt;
  height: 1.5in;

  > * {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 3.333in;
  }

  li {
    margin-bottom: 0;
  }
}

caption,
figcaption {
  font-size: 9pt;
}
