a {
  &[href^="#"] {
    color: inherit;
    content: target-counter(attr(href, url), reference);
    text-decoration: none;

    &::before {
      content: $cite-prefix;
    }

    &::after {
      content: $cite-suffix;
    }

    &.section {
      content: target-counter(attr(href, url), section);
      //scss-lint:disable NestingDepth
      &::before {
        content: $counter-header-prefix;
      }

      &::after {
        content: '';
      }
    }

    &.subsection {
      content: target-counter(attr(href, url), section) $counter-header-separator target-counter(attr(href, url), subsection);
      //scss-lint:disable NestingDepth
      &::before {
        content: $counter-header-prefix;
      }

      &::after {
        content: '';
      }
    }

    &.subsubsubsection {
      content: target-counter(attr(href, url), section) $counter-header-separator target-counter(attr(href, url), subsection) $counter-header-separator target-counter(attr(href, url), subsubsection) $counter-header-separator target-counter(attr(href, url), subsubsubsection);
      //scss-lint:disable NestingDepth
      &::before {
        content: $counter-header-prefix;
      }

      &::after {
        content: '';
      }
    }

    &.figure {
      content: target-counter(attr(href, url), figure);
      //scss-lint:disable NestingDepth
      &::before {
        content: $figure-prefix;
      }

      &::after {
        content: '';
      }
    }

    &.table {
      content: target-counter(attr(href, url), table);
      //scss-lint:disable NestingDepth
      &::before {
        content: $table-prefix;
      }

      &::after {
        content: '';
      }
    }
  }
}
