body {
  @include column-count($page-column-count);
  @include column-fill($page-column-fill);
  @include column-gap($page-column-gap);
  font-family: $font-family-base;
  hyphens: $hyphens-base;
  text-align: $text-align-base;

  > :first-child {
    counter-reset: page $page-number-start;
  }
}
