figure {
  counter-increment: figure;
  margin: $figure-margin;
  text-align: center;
}

figcaption {
  font-weight: $figcaption-weight;

  &::before {
    content: $figure-prefix counter(figure) $figure-suffix;
  }
}
