// mixin
@mixin generate-header-font-size($i: 1) {
  @if $i < 7 {
    h#{$i} {
      $font-size: "font-size-h#{$i}";
      font-size: $font-size;
    }

    @include generate-header-font-size($i + 1);
  }
}

// selectors
h1,
h2,
h3,
h4,
h5,
h6 {
  @include column-break-after(avoid);
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  hyphens: $headings-hyphens;
  @if $header-counter-enabled {
    &:not(.counter-skip)::before {
      margin-right: .5em;
    }
  }
}

@include generate-header-font-size();
