<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SIGCHI Extended Abstracts Sample File: Note Initial Caps</title>
    <link rel="stylesheet" href="../css/pub.css">
    <style>

    </style>
  </head>
  <body>
    <header>
      <h1 class="title">SIGCHI Extended Abstracts Sample File: Note Initial Caps</h1>
    </header>

    <div class="authors">
      <div class="author">
        <div>First Author</div>
        <div>AuthorCo, Inc.</div>
        <div>123 Author Ave.</div>
        <div>Authortown, PA 54321 USA</div>
        <div>author1@anotherco.com</div>
      </div>
      <div class="author">
        <div>Second Author</div>
        <div>VP, Authoring</div>
        <div>Authorship Holdings, Ltd.</div>
        <div>Authors Square</div>
        <div>Authorfordshire, UK AU1 2JD</div>
        <div>author2@author.ac.uk</div>
      </div>
      <div class="author">
        <div>Third Author</div>
        <div>AnotherCo, Inc.</div>
        <div>123 Another Ave.</div>
        <div>Anothertown, PA 54321 USA</div>
        <div>author3@anotherco.com</div>
      </div>
      <div class="author">
        <div>Fourth Author</div>
        <div>YetAnotherCo, Inc.</div>
        <div>123 YetAnother Ave.</div>
        <div>YetAnothertown, PA 54321 USA</div>
        <div>author4@yetanotherco.com</div>
      </div>
      <div class="author">
        <div>Fifth Author</div>
        <div>AuthorCo, Inc.</div>
        <div>123 Author Ave.</div>
        <div>Authortown, PA 54321 USA</div>
        <div>author5@anotherco.com</div>
      </div>
      <div class="author">
        <div>Sixth Author</div>
        <div>AuthorCo, Inc.</div>
        <div>123 Author Ave.</div>
        <div>Authortown, PA 54321 USA</div>
        <div>author6@anotherco.com</div>
      </div>
    </div>

    <div class="copyright">
      <div>
        <div>Paste the appropriate copyright/license statement here. ACM now supports three different publication options:</div>
        <ul>
          <li>ACM copyright: ACM holds the copyright on the work. This is the historical approach.</li>
          <li>License: The author(s) retain copyright, but ACM receives an exclusive publication license.</li>
          <li>Open Access: The author(s) wish to pay for the work to be open access. The additional fee must be paid to ACM.</li>
        </ul>
        <div>This text field is large enough to hold the appropriate release statement assuming it is single-spaced in Verdana 7 point font. Please do not change the size of this text box.</div>
        <div style="color: red;">Every submission will be assigned their own unique DOI string to be included here.</div>
      </div>
    </div>

    <div class="abstract">
      <h1>Abstract</h1>
      <p>Updated 7/30/2014. In this sample document, Sheridan Printing Co., Inc. describes the formatting requirements for SIGCHI Extended Abstracts, and this sample file offers recommendations on writing for the worldwide SIGCHI readership. Please review this document even if you have submitted to SIGCHI conferences before, some format details have changed relative to previous years.</p>

      <h1>Author Keywords</h1>
      <p>
        Authors’ choice; of terms; separated; by semi-colons<br>
        <span style="color: red;">Optional section to be included in your final version, but strongly encouraged.</span>
      </p>

      <h1>ACM Classification Keywords</h1>
      <p>H.5.m. Information interfaces and presentation (e.g., HCI): Miscellaneous. See:<br/><a href="http://www.acm.org/about/class/1998/">http://www.acm.org/about/class/1998/</a> <span style="color: red;">Optional section to be included in your final version, but strongly encouraged.</span></p>
    </div>

    <h1>Introduction</h1>
    <p>This format is to be used for submissions that are published in the conference proceedings. We wish to give this volume a consistent, high-quality appearance. We therefore ask that authors follow some simple guidelines. In essence, you should format your paper exactly like this document. The easiest way to do this is simply to download a template from the conference web site, and replace the content with your own material. For more information on Sheridan Printing, see: <a href="http://www.sheridanprinting.com/info.html">www.sheridanprinting.com/info.html</a></p>

    <h1>ACM Copyrights &amp; Permission Policy</h1>
    <p>Accepted extended abstracts and papers will be distributed in the Conference Publications. They will also be placed in the ACM Digital Library, where they will remain accessible to thousands of researchers and practitioners worldwide. To view ACM’s copyright and permissions policy, see: <a href="http://www.acm.org/publications/policies/copyright_policy">http://www.acm.org/publications/policies/copyright_policy</a></p>

    <h1>Page Size</h1>
    <p>ALL SIGCHI submissions should be US letter (8.5x11 inches). US Letter is a standard option on all versions of Microsoft Word, as well as most other document preparation programs.</p>

    <h1>Text Formatting</h1>
    <p>Please use an 8.5-point Verdana font, or other sans serifs font as close as possible in appearance to Verdana in which these guidelines have been set. (The <q>Normal</q> style for this document automatically gives you this font setting.) Arial 9-point font is a reasonable substitute for Verdana as it has a similar x-height. Please use serif or non-proportional fonts only for special purposes, such as distinguishing source code text.</p>

    <h2>Text styles</h2>
    <p>The template uses MS Word text styles to facilitate text formatting. The applicable text styles are:</p>
    <ul>
      <li>normal – for body text</li>
      <li>heading 1, heading 2, heading 3</li>
      <li>bullet list</li>
      <li>numbered list</li>
      <li>caption</li>
      <li>annotation – for notes in the narrow left margin</li>
      <li>reference – for bibliographic entries</li>
    </ul>
    <p>Additionally, here is an example of footnoted text.<span class="footnote">Use footnotes sparingly, if at all.</span> (the footnote is created with the <q>footnote...</q> command under the <q>Insert</q> menu in MS Word). As stated in the footnote, footnotes should rarely be used.</p>

    <h2>Language, style, and content</h2>
    <p>The written and spoken language of SIGCHI is English. Spelling and punctuation may use any dialect of English (e.g., British, Canadian, US, etc.) provided this is done consistently. Hyphenation is optional. To ensure suitability for an international audience, please pay attention to the following:</p>
    <ul>
      <li>Write in a straightforward style. Use simple sentence structure. Try to avoid long sentences and complex sentence structures. Use semicolons carefully.</li>
      <li>Use common and basic vocabulary (e.g., use the word <q>unusual</q> rather than the word <q>arcane</q>).</li>
      <li>Briefly define or explain all technical terms. The terminology common to your practice/discipline may be different in other design practices/disciplines.</li>
      <li>Spell out all acronyms the first time they are used in your text. For example, <q>World Wide Web (WWW)</q>.</li>
      <li>Explain local references (e.g., not everyone knows all city names in a particular country).</li>
      <li>Explain <q>insider</q> comments. Ensure that your whole audience understands any reference whose meaning you do not describe (e.g., do not assume that everyone has used a Macintosh or a particular application).</li>
      <li>Explain colloquial language and puns. Understanding phrases like <q>red herring</q> requires a cultural knowledge of English. Humor and irony are difficult to translate.</li>
      <li>Use unambiguous forms for culturally localized concepts, such as times, dates, currencies and numbers (e.g., <q>1-5-97</q> or <q>5/1/97</q> may mean 5 January or 1 May, and <q>seven o'clock</q> may mean 7:00 am or 19:00).</li>
      <li>Be careful with the use of gender-specific pronouns (<em>he</em>, <em>she</em>) and other gender-specific words (<em>chairman</em>, <em>manpower</em>, <em>man-months</em>). Use inclusive language (e.g., she or he, they, chair, staff, staff-hours, person-years) that is gender-neutral. If necessary, you may be able to use <q>he</q> and <q>she</q> in alternating sentences, so that the two genders occur equally often <a href="#schwartz95"></a>.</li>
    </ul>

    <aside style="top: 0; padding: 0.8em; border: 1px solid #000; box-sizing: border-box;">
      <p style="text-align: center;"><strong>Good Utilization of this Space Sample, as Side Bar</strong></p>
      <p><strong>Preparation:</strong> Do not change the text box size or position.</p>
      <p><strong>Materials:</strong> This can not appear higher or lower on the page because of pagination and specific headers added during the indexing and pagination process.</p>
      <p><strong>Process:</strong> A 0.75 inch rule is beneficial to break this apart from the body text. The text in this text box should remain the same size as the Body Text: 8.5 Verdana or Arial (with use of bold and italics to highlight points)</p>
      <p><strong>Images &amp; Figures:</strong> If you have any images in color, it is always good practice to print your paper out in black and white to ensure that the tones and screens used in your figures reproduce well in black and white, but your images will appear in full color in the electronic proceedings and in the ACM digital library. Images in your document should be at least 300 or 600 dpi for quality reproduction.</p>
    </aside>

    <h1>Figures</h1>
    <p>The examples on this and following pages should help you get a feel for how screen-shots and other figures should be placed in the template. <em>Be sure to make images large enough so the important details are legible and clear.</em></p>
    <p>Your document may use color figures, which are included in the page limit; the figures must be usable when printed in black and white.</p>
    <p>If you aren’t familiar with Word’s handling of pictures, we offer one tip: the <q>format picture</q> dialog is the key to controlling position of pictures and the flow of text around them. You access these controls by selecting your picture, then choosing <q>Picture...</q> from the <q>Format</q> menu.</p>

    <figure>
      <img src="../img/figure1.png" style="width: 80%;">
      <figcaption>Insert a caption below each figure.</figcaption>
    </figure>

    <table>
      <thead>
        <tr>
          <th>Column Head Samples</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Measurements result</td>
          <td>22.52</td>
          <td>12.16</td>
          <td>10.75</td>
        </tr>
        <tr>
          <td>CogTool prediction</td>
          <td>22.72</td>
          <td>12.26</td>
          <td>10.60</td>
        </tr>
        <tr>
          <td>CogTool error %</td>
          <td>0.009</td>
          <td>0.008</td>
          <td>0.014</td>
        </tr>
      </tbody>
      <caption>This sample table has the caption appearing below. Please use 0.75 rules/borders for your tables, align decimals or center text in the cells. For improved accessibility, header rows of tables should be marked. In Word, right click a header row, and select Table Properties | Row | Repeat as header at the top of each page.</caption>
    </table>

    <p>As for the <q>picture</q> tab in that dialog, we recommend using Photoshop or other graphics software to scale images, rather than scaling them after you have placed them in Word. Word’s scaling tends to reduce the clarity and legibility of images more so than dedicated graphics software.</p>

    <figure>
      <img src="../img/figure2.png" style="width: 100%;">
      <figcaption>If your figure has a light background, you can set its outline to light gray, like this, to make a box around it. The column width is 8.5 cm (3.34</q>), so setting this picture to fill the column was easily done by right-clicking on it (option-click on the Mac), choosing <q>format picture,</q> then the <q>size</q> tab, and setting its width to 8.5 cm (3.34</q>).</figcaption>
    </figure>

    <p>Page five shows a treatment of large figures, too big to fit inside a single column of text.</p>
    <p>All figures should include alt text for improved accessibility. In Word, right click the figure, and select Format Picture | Alt Text).</p>

    <h1>References and Citations</h1>
    <p>Use a numbered list of references at the end of the article, ordered alphabetically by first author, and referenced by numbers in brackets <span class="cites"><a href="#anderson92"></a><a href="#klemmer02"></a><a href="#mather00"></a><a href="#zellweger01"></a></span>. For papers from conference proceedings, include the title of the paper and an abbreviated name of the conference (e.g., for Interact 2003 proceedings, use <em>Proc. Interact 2003</em>). Do not include the location of the conference or the exact date; do include the page numbers if available. See the examples of citations at the end of this document. Within this template file, use the References style for the text of your citation.</p>
    <p>Your references should be published materials accessible to the public. Internal technical reports may be cited only if they are easily accessible (i.e., you provide the address for obtaining the report within your citation) and may be obtained by any reader for a nominal fee. Proprietary information may not be cited. Private communications should be acknowledged in the main text, not referenced (e.g., <q>[Robertson, personal communication]</q>).</p>

    <h1>Accessibility</h1>
    <p>The Executive Council of SIGCHI has committed to making SIGCHI conferences more inclusive for researchers, practitioners, and educators with disabilities. As a part of this goal, the all authors are asked to work on improving the accessibility of their submissions. Specifically, we encourage authors to carry out the following five steps:</p>
    <ol>
      <li>Add alternative text to all figures</li>
      <li>Mark table headings</li>
      <li>Generate a tagged PDF</li>
      <li>Verify the default language</li>
      <li>Set the tab order to <q>Use Document Structure</q> For more information and links to instructions and resources, please see: <a href="http://chi2014.acm.org/authors/guide-to-an-accessible-submission">http://chi2014.acm.org/authors/guide-to-an-accessible-submission</a></li>
    </ol>
    <p>For more information and links to instructions and resources, please see: <a href="http://chi2014.acm.org/authors/guide-to-an-accessible-submission">http://chi2014.acm.org/authors/guide-to-an-accessible-submission</a></p>

    <figure class="col-span" style="position: relative; float: bottom; width: 500px;">
      <aside style="margin-top: 100px;">
        <img src="../img/figure-side.png" style="width: 100%;">
        <div style="margin-top: 2em; text-align: left;">
          <small>One good use of the narrow margin column: callouts that annotate a figure, either with text or a more detailed image.</small>
        </div>
      </aside>
      <div style="position: absolute; right: 0; margin: 110px -220px 0; float: right; width: 200px; text-align: left;">
        <small>So long as you don’t type outside the right margin, it’s okay to put annotations over here on the right, too. Remember to use the annotation text style.</small>
      </div>
      <img src="../img/figure3.jpg" style="width: 100%; border: 1px solid #ddd;">
      <figcaption>You can make figures as wide as you need, up to a maximum of the full width of both columns. To achieve this, select the figure and the caption, choose <q>columns</q> under the <q>Format</q> menu, pick the <q>One</q> (single column) icon at the top of the dialog, and make sure you are making the change only for <q>selected text</q> (at the bottom of the dialog). This image was saved as a low-quality jpg to reduce the size of the this file. Your images should be higher quality, so readers can clearly see the details.</figcaption>
    </figure>

    <h1>Producing and testing PDF files</h1>
    <p>We recommend that you produce a PDF version of your submission well before the final deadline. Your PDF file must be ACM DL Compliant. The requirements for an ACM Compliant PDF are available at:</p>
    <p><a href="http://www.sheridanprinting.com/typedept/ACM-distilling-settings.htm">http://www.sheridanprinting.com/typedept/ACM-distilling-settings.htm</a></p>
    <p>Test your PDF file by viewing or printing it with the same software we will use when we receive it, Adobe Acrobat Reader Version 7. This is widely available at no cost from <a href="#adobe"></a>. Note that most reviewers will use a North America/European version of Acrobat reader, which cannot handle documents containing non-North One good use of the narrow margin column: callouts that annotate a figure, either with text or a more detailed image. American or non-European fonts (e.g. Asian fonts). Please therefore do not use Asian fonts, and verify this by testing with a North American/European Acrobat reader (obtainable as above). Something as minor as including a space or punctuation character in a two- byte font can render a file unreadable.</p>

    <aside>
      <table style="font-size: 9.5px;">
        <thead>
          <tr>
            <th></th>
            <th>Center<br>column<br>head</th>
            <th>Center<br>column<br>head</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>child</td>
            <td>4.2 | 2.3</td>
            <td>5.1 | 3.8</td>
          </tr>
          <tr>
            <td>older<br>adults</td>
            <td>2.8 | 2.2</td>
            <td>3.1 | 4.7</td>
          </tr>
          <tr>
            <td>Bob</td>
            <td>2.5 | 3.1</td>
            <td>3.0 | 12.2</td>
          </tr>
          <tr>
            <td>Dave</td>
            <td><strong style="color: red;">0.75 rules</strong></td>
            <td>2.5 | 3.2</td>
          </tr>
        </tbody>
        <caption>Sample narrow table in the left margin space.</caption>
      </table>
    </aside>

    <h1>Acknowledgements</h1>
    <p>We thank all the volunteers, and all publications support and staff, who wrote and provided helpful comments on previous versions of this document. As well authors 1, 2, &amp; 3 gratefully acknowledge the grant fron NSF (#1234-2012-ABC). Author 4 for example may want to acknowledge a supervisor/manager from their original employer. This whole paragraph is just for example ... Some of the references cited in this paper are included for illustrative purposes only.</p>

    <h1>References Format</h1>
    <p>References must be the same font size as other body text.</p>

    <h1>References</h1>
    <cite id="adobe">Adobe Acrobat Reader 7, Be sure that the references sections text is Ragged Right, Not Justified. http://www.adobe.com/products/acrobat/.</cite>
    <cite id="anderson92">Anderson, R.E. Social impacts of computing: Codes of professional ethics. <em>Social Science Computing Review 10</em>, 2 (1992), 453-469.</cite>
    <cite id="acm">How to Classify Works Using ACM’s Computing Classification System. http://www.acm.org/class/how_to_use.html.</cite>
    <cite id="klemmer02">Klemmer, R.S., Thomsen, M., Phelps-Goodman, E., Lee, R. and Landay, J.A. Where do web sites come from? Capturing and interacting with design history. In <em>Proc. CHI 2002</em>, ACM Press (2002), 1-8.</cite>
    <cite id="mather00">Mather, B.D. Making up titles for conference papers. <em>Ext. Abstracts CHI 2000</em>, ACM Press (2000), 1-2.</cite>
    <cite id="park13">Park, T. H., Saxena, A., Jagannath, S., Wiedenbeck, S., and Forte, A. Towards a taxonomy of errors in HTML and CSS. In <em>Proc. ICER 2013</em>, ACM Press (2013), 75-82.</cite>
    <cite id="schwartz95">Schwartz, M. <em>Guidelines for Bias-Free Writing</em>. Indiana University Press, Bloomington, IN, USA, 1995.</cite>
    <cite id="zellweger01">Zellweger, P.T., Bouvin, N.O., Jehøj, H.,and Mackinlay, J.D. Fluid Annotations in an Open World. <em>Proc. Hypertext 2001</em>, ACM Press (2001), 9-18.</cite>

  </body>
</html>