<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ACM Word Template for SIG Site</title>
    <link rel="stylesheet" href="../../css/pubcss-acm-sig.css">
    <style>

      .reminder {
        margin-top: 32pt;
        text-align: center;
        font-family: Helvetica;
        font-size: 18pt;
        font-weight: bold;
      }

    </style>
  </head>
  <body>
    <h1 class="title counter-skip">ACM Word Template for SIG Site</h1>
    <header>
      <div class="authors col-3">
        <div class="author">
          <div>1st Author</div>
          <div>1st author's affiliation</div>
          <div>1st line of address</div>
          <div>2nd line of address</div>
          <div>Telephone number, incl. country code</div>
          <div>1st author's E-mail address</div>
        </div>
        <div class="author">
          <div>2nd Author</div>
          <div>2nd author's affiliation</div>
          <div>1st line of address</div>
          <div>2nd line of address</div>
          <div>Telephone number, incl. country code</div>
          <div>2nd E-mail</div>
        </div>
        <div class="author">
          <div>3rd Author</div>
          <div>3rd author's affiliation</div>
          <div>1st line of address</div>
          <div>2nd line of address</div>
          <div>Telephone number, incl. country code</div>
          <div>3rd E-mail</div>
        </div>
      </div>
    </header>

    <div class="copyright">
      <div>
        <div>Permission to make digital or hard copies of all or part of this work for personal or classroom use is granted without fee provided that copies are not made or distributed for profit or commercial advantage and that copies bear this notice and the full citation on the first page. To copy otherwise, or republish, to post on servers or to redistribute to lists, requires prior specific permission and/or a fee.</div>
        <div><em>Conference’10, Month 1–2, 2010, City, State, Country.</em></div>
        <div>Copyright 2010 ACM 1-58113-000-0/00/0010 …$15.00.</div>
      </div>
    </div>

    <div class="abstract counter-skip">
      <h1>Abstract</h1>
      <p>In this paper, we describe the formatting guidelines for ACM SIG Proceedings.</p>

      <h2>Categories and Subject Descriptors</h2>
      <p>D.3.3 [<strong>Programming Languages</strong>]: Language Constructs and Features – <em>abstract data types, polymorphism, control structures</em>. This is just an example, please use the correct category and subject descriptors for your submission. The ACM Computing Classification Scheme: <a href="http://www.acm.org/class/1998/">http://www.acm.org/class/1998/</a></p>

      <h2>General Terms</h2>
      <p>Your general terms must be any of the following 16 designated terms: Algorithms, Management, Measurement, Documentation, Performance, Design, Economics, Reliability, Experimentation, Security, Human Factors, Standardization, Languages, Theory, Legal Aspects, Verification.</p>

      <h2>Keywords</h2>
      <p>Keywords are your own designated keywords.</p>
    </div>

    <h1>Introduction</h1>
    <section>
      <p>The proceedings are the records of the conference. ACM hopes to give these conference by-products a single, high-quality appearance. To do this, we ask that authors follow some simple guidelines. In essence, we ask you to make your paper look exactly like this document. The easiest way to do this is simply to down-load a template from <a href="#ding97"></a>, and replace the content with your own material.</p>
    </section>

    <h1>Page Size</h1>
    <section>
      <p>All material on each page should fit within a rectangle of 18 × 23.5 cm (7" × 9.25"), centered on the page, beginning 1.9 cm (0.75") from the top of the page and ending with 2.54 cm (1") from the bottom.  The right and left margins should be 1.9 cm (.75").</p>
      <p>The text should be in two 8.45 cm (3.33") columns with a .83 cm (.33") gutter.</p>
    </section>

    <h1 id="typesettext">Typeset Text</h1>
    <section>
      <h2 id="normalorbodytext">Normal or Body Text</h2>
      <p>Please use a 9-point Times Roman font, or other Roman font with serifs, as close as possible in appearance to Times Roman in which these guidelines have been set. The goal is to have a 9-point text, as you see here. Please use sans-serif or non-proportional fonts only for special purposes, such as distinguishing source code text. If Times Roman is not available, try the font named Computer Modern Roman. On a Macintosh, use the font named Times.  Right margins should be justified, not ragged.</p>

      <h2>Titles and Authors</h2>
      <p>The title (Helvetica 18-point bold), authors' names (Helvetica 12-point) and affiliations (Helvetica 10-point) run across the full width of the page – one column wide. We also recommend phone number (Helvetica 10-point) and e-mail address (Helvetica 12-point). See the top of this page for three addresses. If only one address is needed, center all address text. For two addresses, use two centered tabs, and so on. For more than three authors, you may have to improvise.<span class="footnote">If necessary, you may place some address information in a footnote, or in a named section at the end of your paper.</span></p>

      <h2>First Page Copyright Notice</h2>
      <p>Please leave 3.81 cm (1.5") of blank text box at the bottom of the left column of the first page for the copyright notice.</p>

      <h2>Subsequent Pages</h2>
      <p>For pages other than the first page, start at the top of the page, and continue in double-column format.  The two columns on the last page should be as close to equal length as possible.</p>

      <table>
        <caption>Table captions should be placed above the table</caption>
        <thead>
          <tr>
            <th>Graphics</th>
            <th>Top</th>
            <th>In-between</th>
            <th>Bottom</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tables</td>
            <td>End</td>
            <td>Last</td>
            <td>First</td>
          </tr>
          <tr>
            <td>Figures</td>
            <td>Good</td>
            <td>Similar</td>
            <td>Very well</td>
          </tr>
        </tbody>
      </table>

      <h2>References and Citations</h2>
      <p>Footnotes should be Times New Roman 9-point, and justified to the full width of the column.</p>
      <p>Use the <q>ACM Reference format</q> for references – that is, a numbered list at the end of the article, ordered alphabetically and formatted accordingly. See examples of some typical reference types, in the new <q>ACM Reference format</q>, at the end of this document. Within this template, use the style named <em>references</em> for the text. Acceptable abbreviations, for journal names, can be found here: <a href="http://library.caltech.edu/reference/abbreviations/">http://library.caltech.edu/reference/abbreviations/</a>. Word may try to automatically ‘underline’ hotlinks in your references, the correct style is NO underlining.</p>
      <p>The references are also in 9 pt., but that section (see Section <a href="#references" class="section"></a>) is ragged right. References should be published materials accessible to the public. Internal technical reports may be cited only if they are easily accessible (i.e. you can give the address to obtain the report within your citation) and may be obtained by any reader. Proprietary information may not be cited. Private communications should be acknowledged, not referenced (e.g., <q>[Robertson, personal communication]</q>).</p>

      <h2>Page Numbering, Headers and Footers</h2>
      <p>Do not include headers, footers or page numbers in your submission. These will be added when the publications are assembled.</p>
    </section>

    <h1>Figures/Captions</h1>
    <section>
      <p>Place Tables/Figures/Images in text as close to the reference as possible (see <a href="#figure1" class="figure"></a>). It may extend across both columns to a maximum width of 17.78 cm (7”).</p>
      <p>Captions should be Times New Roman 9-point bold. They should be numbered (e.g., <q>Table 1</q> or <q>Figure 2</q>), please note that the word for Table and Figure are spelled out. Figure’s captions should be centered beneath the image or picture, and Table captions should be centered above the table body.</p>
    </section>

    <h1>Sections</h1>
    <section>
      <p>The heading of a section should be in Times New Roman 12-point bold in all-capitals flush left with an additional 6-points of white space above the section head.  Sections and subsequent sub- sections should be numbered and flush left. For a section head and a subsection head together (such as Section <a href="#typesettext" class="section"></a> and subsection <a href="#normalorbodytext" class="subsection"></a>), use no additional space above the subsection head.</p>

      <h2>Subsections</h2>
      <p>The heading of subsections should be in Times New Roman 12-point bold with only the initial letters capitalized. (Note: For subsections and subsubsections, a word like <em>the</em> or <em>a</em> is not capitalized unless it is the first word of the header.)</p>

      <h3>Subsubsections</h3>
      <p>The heading for subsubsections should be in Times New Roman 11-point italic with initial letters capitalized and 6-points of white space above the subsubsection head.</p>

      <h4>Subsubsections</h4>
      <p>The heading for subsubsections should be in Times New Roman 11-point italic with initial letters capitalized.</p>

      <figure>
        <img src="../img/figure.png" id="figure1" style="width: 80%;">
        <figcaption>Insert caption to place caption below figure.</figcaption>
      </figure>

      <h4>Subsubsections</h4>
      <p>The heading for subsubsections should be in Times New Roman 11-point italic with initial letters capitalized.</p>
    </section>

    <h1>Acknowledgements</h1>
    <section>
      <p>Our thanks to ACM SIGCHI for allowing us to modify templates they had developed.</p>
    </section>

    <h4>Subsubsections</h4>

    <h1 id="references">References</h1>
    <section>
      <cite id="bowman93">Bowman, M., Debray, S. K., and Peterson, L. L. 1993. Reasoning about naming systems. <em>ACM Trans. Program. Lang. Syst.</em> 15, 5 (Nov. 1993), 795-825. DOI= <a href="http://doi.acm.org/10.1145/161468.16147">http://doi.acm.org/10.1145/161468.16147</a>.</cite>

      <cite id="ding97">Ding, W. and Marchionini, G. 1997. <em>A Study on Video Browsing Strategies</em>. Technical Report. University of Maryland at College Park.</cite>

      <cite id="frohlich00">Fröhlich, B. and Plate, J. 2000. The cubic mouse: a new device for three-dimensional input. In <em>Proceedings of the SIGCHI Conference on Human Factors in Computing Systems</em> (The Hague, The Netherlands, April 01 - 06, 2000). CHI '00. ACM, New York, NY, 526-531. DOI= <a href="http://doi.acm.org/10.1145/332040.332491">http://doi.acm.org/10.1145/332040.332491</a>.</cite>

      <cite id="tavel07">Tavel, P. 2007. <em>Modeling and Simulation Design</em>. AK Peters Ltd., Natick, MA.</cite>

      <cite id="sannella94">Sannella, M. J. 1994. <em>Constraint Satisfaction and Debugging for Interactive User Interfaces</em>. Doctoral Thesis. UMI Order Number: UMI Order No. GAX95-09398., University of Washington.</cite>

      <cite id="forman03">Forman, G. 2003. An extensive empirical study of feature selection metrics for text classification. <em>J. Mach. Learn. Res.</em> 3 (Mar. 2003), 1289-1305.</cite>

      <cite id="brown03">Brown, L. D., Hua, H., and Gao, C. 2003. A widget framework for augmented interaction in SCAPE. In <em>Proceedings of the 16th Annual ACM Symposium on User Interface Software and Technology</em> (Vancouver, Canada, November 02 - 05, 2003). UIST '03. ACM, New York, NY, 1-10. DOI= <a href="http://doi.acm.org/10.1145/964696.964697">http://doi.acm.org/10.1145/964696.964697</a>.</cite>

      <cite id="yu06">Yu, Y. T. and Lau, M. F. 2006. A comparison of MC/DC, MUMCUT and several other coverage criteria for logical decisions. <em>J. Syst. Softw.</em> 79, 5 (May. 2006), 577-590. DOI= <a href="http://dx.doi.org/10.1016/j.jss.2005.05.030">http://dx.doi.org/10.1016/j.jss.2005.05.030</a>.</cite>

      <cite id="spector89">Spector, A. Z. 1989. Achieving application requirements. In <em>Distributed Systems</em>, S. Mullender, Ed. ACM Press Frontier Series. ACM, New York, NY, 19-33. DOI= <a href="http://doi.acm.org/10.1145/90417.90738">http://doi.acm.org/10.1145/90417.90738</a>.</cite>

      <cite id="park13">Park, T. H., Saxena, A., Jagannath, S., Wiedenbeck, S., and Forte, A. 2013. Towards a taxonomy of errors in HTML and CSS. In <em>Proceedings of the ACM International Computing Education Research Conference</em> (San Diego, USA, August 12 - 14, 2013). ICER '13. ACM, New York, NY, 75-82. DOI= <a href="http://dx.doi.org/10.1145/2493394.2493405">http://dx.doi.org/10.1145/2493394.2493405</a>.</cite>
    </section>

    <div class="reminder col-span">Columns on Last Page Should Be Made As Close As Possible to Equal Length</div>

    <script src="../../node_modules/css-polyfills/dist/css-polyfills.js"></script>
  </body>
</html>
