@mixin column-count($column-count) {
  column-count: $column-count;
}

@mixin column-span($column-span) {
  column-span: $column-span;
}

@mixin column-gap($column-gap) {
  column-gap: $column-gap;
}

@mixin column-fill($column-fill) {
  column-gap: $column-fill;
}

@mixin column-break-after($column-break-after) {
  break-after: $column-break-after;
}

@mixin column-break-before($column-break-before) {
  break-after: $column-break-before;
}

@mixin column-break-inside($column-break-inside) {
  break-inside: $column-break-inside;
}
