@mixin page-break-after($page-break-after) {
  break-after: $page-break-after;
}

@mixin page-break-before($page-break-before) {
  break-after: $page-break-before;
}

@mixin page-break-inside($page-break-inside) {
  break-inside: $page-break-inside;
}
