@mixin generate-counter-increments($i: 1) {
  @if $i < 7 {
    h#{$i}:not(.counter-skip) {
      $counter-increment: "counter-h#{$i}";
      counter-increment: unquote($counter-increment);
    }

    @include generate-counter-increments($i + 1);
  }
}

@mixin generate-counter-resets($i: 1) {
  @if $i < 7 {
    h#{$i}.counter-reset {
      $counter-reset: "counter-h#{$i}";
      counter-reset: unquote($counter-reset);
    }

    @include generate-counter-resets($i + 1);
  }
}

//https://stackoverflow.com/questions/8533432/creating-or-referencing-variables-dynamically-in-sass
//Thank you @thomaspark! https://github.com/thomaspark/pubcss/issues/6#issuecomment-306539807
@mixin generate-counter-content($i: 1, $s: '', $p: '') {
  @if $i < 7 {
    $parent: $p;
    $counter: unquote(nth($counter-ids, $i));
    $counter-style: unquote(nth($counter-styles, $i));
    $string: $s counter($counter, $counter-style) $counter-header-separator;
    $content: $counter-header-prefix $s counter($counter, $counter-style) $counter-header-suffix;

    #{$parent} h#{$i}:not(.counter-skip)::before {
      content: $content;
    }

    @include generate-counter-content($i + 1, $string, $parent);

  }
}
