@mixin generate-counter-increments($i: 1) {
  @if $i < 7 {
    h#{$i}:not(.counter-skip) {
      $counter-increment: unquote("counter-h#{$i}");
      counter-increment: $counter-increment;
    }

    @include generate-counter-increments($i + 1);
  }
}

@mixin generate-counter-resets($i: 1) {
  @if $i < 7 {
    h#{$i}.counter-reset {
      $counter-reset: "counter-h#{$i}";
      counter-reset: $counter-reset;
    }

    @include generate-counter-resets($i + 1);
  }
}

//https://stackoverflow.com/questions/8533432/creating-or-referencing-variables-dynamically-in-sass
@mixin generate-counter-content($i: 1, $s: '', $p: '') {
  @if $i < 7 {
    $parent: "#{$p}";
    $counter: "counter-h#{$i}";
    $string: "#{$counter-header-prefix} #{$s}" counter(#{$counter}, nth($counter-styles, $i)) "#{$counter-header-separator} #{$counter-header-suffix}";
    $content: #{$s} counter(#{$counter}, nth($counter-styles, $i));

    #{$parent} h#{$i}:not(.counter-skip)::before {
      content: $string;
    }

    @include generate-counter-content($i + 1, $string, $parent);

  }
}
